
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #19171d ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a080f;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.navbar-logo {
    width: 150px;
    height: auto; 
}

.navbar-logo img {
    width: 256px;
    height: auto;
    transition: 0.4s;
}

.navbar-logo img:hover{
    transform: scale(1.07);
    transition: 0.4s;
}

.navbar-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-links li {
    margin: 0 15px;
    transition: 0.4s;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.4s;
}

.navbar-links :hover{
    transform: scale(1.1);
    transition: 0.4s;
    color: #FF751A;
}

.icon img {
    width: 30px;
    height: 30px;
    transition: 0.4s;
}

.icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.icon {
    display: flex;
    align-items: center;
}

.icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.icon :hover{
    transform: scale(1.8);
    transition: 0.4s;
}

.carousel {
    position: relative;
    max-width: 90%;
    margin: 20px auto;
    overflow: hidden;
    font-size: x-large;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.carousel-item img {
    width: 100%;
    display: block;
    transition: 0.4s;
}

.carousel-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
}

.carousel-logo {
    max-width: 300px;   
    height: auto;       
    margin-bottom: 10px;
    object-fit: contain; 
}

.carousel-logo {
    width: 200px; 
}

.carousel-content h2 {
    font-size: 2em; 
}

.carousel-content p {
    font-size: 1em;
}

@media (max-width: 768px) {
    .carousel-content h2 {
        font-size: 0.9em; 
    }

    .carousel-content p {
        font-size: 0.4em; 
    }
    .navbar-logo img{
        width: 170px;
        height: auto; 
    }

    .carousel-content img {
        width: 130px; 
    }
}


@media (max-width: 480px) {
    .carousel-content h2 {
        font-size: 0.8em; 
    }

    .carousel-content p {
        font-size: 0.3em; 
    }
    .navbar-logo img{
        width: 120px;
        height: auto; 
    }

    .carousel-content img {
        width: 100px; 
    }
}
.carousel-item:hover img {
    transform: scale(1.05);
    transition: 0.4s;
}
 
.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #FF751A;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.indicator:hover {
    transform: scale(1.5);
}

.indicator.active {
    background-color: #ffc29a;
}

.catalog-container {
    width: 90%; 
    margin: 0 auto; 
    overflow: hidden;
    position: relative;
    margin-bottom: 20px; 
    padding: 0 20px; 
    color: white;
}

.catalog {
    display: flex;
    transition: transform 0.5s ease;
    margin: 0 -10px; /* Margens negativas para compensar o espaçamento entre itens */
}

.catalog-item {
    flex: 0 0 220px; 
    text-align: center;
    margin: 0 10px; 
    transition: 0,4s;
    width: 1000px;
    font-size: large;
}

.catalog-item:hover img {
    transform: scale(1.05);
    transition: 0.4s;
}

.catalog img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: 0.4s;
}

.catalog-prev,
.catalog-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px; /* Tamanho do ícone */
    width: 40px; /* Largura dos botões */
    height: 40px; /* Altura dos botões */
}

.catalog-prev {
    left: 0; 
}

.catalog-next {
    right: 0;
}


.continue-watching-container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    padding: 0 20px;
    color: white;
    transition: 0.4s;
}

.continue-watching :hover{
    transform: scale(1.02);
    transition: 0.4s;
}

.continue-watching {
    display: flex;
    transition: transform 0.5s ease;
}

.continue-watching-item {
    flex: 0 0 300px; /* Tamanho fixo maior dos itens do catálogo */
    text-align: center;
    margin: 0 10px;
    position: relative;
}

.image-container {
    position: relative;
}

.continue-watching img {
    width: 300px; /* Defina a largura desejada */
    height: 169px; /* Defina a altura desejada para manter a proporção 16:9 */
    border-radius: 8px;
    object-fit: cover; /* Faz a imagem cobrir o container mantendo a proporção */
    
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: rgb(228, 83, 0);
}

.info {
    text-align: left;
    margin-top: 5px;
}

.info .title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: white;
}

.info .episode {
    font-size: 14px;
    margin: 0;
    color: white;
}

.continue-watching-prev,
.continue-watching-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.continue-watching-prev {
    left: 0;
}

.continue-watching-next {
    right: 0;
}

.continue-watching-prev:hover,
.continue-watching-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.continue-watching-prev::before,
.continue-watching-next::before {
    content: '';
    display: inline-block;
    color: #fff;
}

.gallery-section {
    margin: 20px;
}

.gallery-section h2 {
    text-align: center;
    color: #c5c5c5;
    transition: 0.2s;
}

.gallery-section h2 :hover{
    font-size: x-large;
    transition: 0.4s;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery-item {
    text-align: center;
    width: 200px; /* Define a largura fixa */
}

.gallery-item img {
    width: 100%; /* Preenche toda a largura do container */
    height: 300px; /* Define a altura fixa */
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.gallery-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #dddddd;
    word-wrap: break-word; /* Permite a quebra de linha nas palavras longas */
}

.premium-plans {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.premium-plans h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.plan {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.plan h3 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 10px;
}

.plan p {
    color: #666666;
    font-size: 16px;
    margin-bottom: 10px;
}

.plan a.btn {
    display: inline-block;
    background-color: #ff6600;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.plan a.btn:hover {
    background-color: #e65100;
}